<!DOCTYPE html>
<html>
<head>
    <title>Upload</title>
</head>
<body>
    <form action="upload" method="post" enctype="multipart/form-data">
        <input type="file" name="image" /><br />
        <input type="radio" name="type" value="0" checked />Plane</br>
        <input type="radio" name="type" value="1" checked />Photosphere</br>
        <button type="submit">GO!</button>
    </form>
</body>
</html>
