
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Pano Viewer</title>
    <meta name="description" content="Hello, World! - A-Frame">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/aframe/0.5.0/aframe.min.js"></script> 

  <script src="https://unpkg.com/aframe-click-drag-component"></script> 
  <script src="https://rawgit.com/mayognaise/aframe-mouse-cursor-component/master/dist/aframe-mouse-cursor-component.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto:200,300" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400" rel="stylesheet">
    <link href="/stylesheets/style.css" rel="stylesheet">
    <script src="/javascripts/components.js"></script>
    <script src="/javascripts/sphere_creater.js"></script>
</head>
<body>

<!-- form to set hotspot image and text -->
<form id="upload">
  <input type="text" id="marker_text" style="z-index: 999; ">
  <input type="file" class="custom-file-input" name="marker_image" id="marker_image" placeholder="marker text">
</form>
<button onclick="createmarker()" style="z-index: 999" id="create">Createmarker</button><button onclick="removemarker()" style="z-index: 999">Removemarker</button>

<div class="page-bg">
</div>
<!-- holder for the hotspot image and the text -->
<div id="marker_prop_holder" style="z-index: 999">
  <div id="img" style="">
      <img src="" id="marker_img">
      <h5 style="font-family: Roboto; font-weight: 200; color: black; background: white; padding:10px; border-radius: 5%" id="marker_txt"></h5>
  </div>
</div>
<!-- the vr scene using mozilla aframe library(the panorama scene) -->
<a-scene id="aframe-scene">
    <a-sky id="sky" src="/user_images/<%= name %>" id="sky" rotation="0 -130 0"></a-sky>
    <a-entity id="enti" camera="userHeight: 5" position="0 0 1.6" look-controls wsad-controls mouse-cursor>
        <a-cursor style="z-index: 9999">
        </a-cursor>
    </a-entity>
</a-scene>

</body>
</html>
