
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Hello, World! - A-Frame</title>
    <meta name="description" content="Hello, World! - A-Frame">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
    <script src="/javascripts/main.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto:200,300" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400" rel="stylesheet">
    <link href="/stylesheets/ios.css" rel="stylesheet">
    <link href="/stylesheets/style.css" rel="stylesheet">



  </head>
  <body>
  <div id="settings">
  <i class="fa fa-arrow-circle-o-left fa-2x" style="position: fixed;top: 20px;left: 20px;" onclick="window.history.back()"></i>
  <ul class="input-list style-1 clearfix" style="text-align: center">
      <input type="text" value="Project Name" id="project" spellcheck="false">
  </ul>
    <fieldset>
    <legend>SETTINGS</legend>
    <form action="">
        <div id="switches">
        <h4 style="font-family: Roboto;display: inline-block;margin-top: 0;margin-bottom: 20px;">Day/Night</h4>
        <input id="cmn-toggle-1" class="cmn-toggle cmn-toggle-round" type="checkbox" onclick="day_night()">
        <label for="cmn-toggle-1"></label>
    </div>
    <div id="switches">
        <h4 style="font-family: Roboto;display: inline-block;margin-top: 0;margin-bottom: 20px;">Pan/Sphere</h4>
        <input id="cmn-toggle-2" class="cmn-toggle cmn-toggle-round" type="checkbox" onclick="pan_sphere()">
        <label for="cmn-toggle-2"></label>
    </div>
  
    </form>
</fieldset>
  </div>


  <div class="page-bg">
  </div>
    <a-scene id="aframe-scene">
     <a-entity id="control" scale="1 1 1" camera wasd-controls no-click-look-controls="maxyaw:6.28;maxpitch:<%= type%>" fov="80" position="0 0 0" near="0.2" cursor-color="#33CCFF"></a-entity>
     <a-sky src="/user_images/<%= name %>" id="sky" rotation="0 -130 0"></a-sky>
<!--      <a-sphere radius="1.25" color="#ff54f5" position="100 1 1"></a-sphere>
 --></a-scene>

    <script src="/javascripts/viewer.js"></script>
  </body>
</html>
