input.cmn-toggle-round + label {
  padding: 2px;
  width: 55px;
  height: 28px;
  background-color: #dddddd;
  border-radius: 60px;
  position: fixed;
  right: 65px;
}
input.cmn-toggle-round + label:before,
input.cmn-toggle-round + label:after {
  display: inline-block;
  position: absolute;
  top: 1px;
  left: 1px;
  bottom: 1px;
  content: "";
}
input.cmn-toggle-round + label:before {
  right: 1px;
  background-color: #f1f1f1;
  border-radius: 60px;
  transition: background 0.4s;
  padding-bottom: 15px;
}
input.cmn-toggle-round + label:after {
  width: 30px;
  background-color: #fff;
  border-radius: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: margin 0.4s;
}
input.cmn-toggle-round:checked + label:before {
  background-color: #8ce196;
}
input.cmn-toggle-round:checked + label:after {
  margin-left: 30px;
}
.cmn-toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}
.cmn-toggle + label {
  display: inline-block;
  position: relative;
  cursor: pointer;
  outline: none;
  user-select: none;
}
fieldset{
  width: 250px;
}
h4{
  position: relative;
  left: 0;
}