body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
 .a-enter-vr-button{
            display:  none;
        }
        #option_holder{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
        }
        .page-bg{
            transition: all 0.6s;
            background:white;
            /*background: url('/user_images/<%= name %>');
            -webkit-filter: blur(10px);
            -moz-filter: blur(10px);
            -o-filter: blur(10px);
            -ms-filter: blur(10px);
            filter: blur(10px) opacity(0.5) contrast(2);*/
            position:fixed;
            width:100%;
            height:100%;
            top:0;
            left:0;
            z-index:-1;
        }
        
        #settings{
            float: right;
            position: fixed;
            right: 40px;
            bottom: 80px;
        }
        input[type="text"]:focus{
          content: '';
          border-bottom: solid 2px #111;
          outline: none;
        }

        #marker_prop_holder{
          opacity: 0;
          transition: all 0.1s;
        }
        #upload{
          display: inline-block;
        }
        #marker_img{
          width:80px; 
          height: 60px;
          transition: all 0.8s;
        }
        #img{
          position: fixed; top: 10px; right: 20px;padding: 5px; width: 80px;height: 60px; border: 2px solid black; background: white;z-index: 999;
          transition: all 0.8s;
        }
  